html {
    /* footer support */
  position: relative;
  min-height: 100%;
}
img {
    display: block;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.logo {
    text-align: center;
}